.nav {
    margin: 1rem;
}

.achievement-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2rem 0;
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.achievement-card__info {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

.achievement-card__footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.achievement-card__image {
    width: 10rem;
    background-color: black;
    margin: 0.5rem;
}
